html {
  interpolate-size: allow-keywords;
}

body {
  background-image: url('https://images.unsplash.com/photo-1751220170218-e57d53bd4aa8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NTE1NjQ0MjR8&ixlib=rb-4.1.0&q=80&w=1800');
  background-attachment: fixed;
}

nav {
  width: fit-content;
  margin: 3rem auto;
  background: hsl(0 0% 0% / 0.8);

  padding: 8px;
  border-radius: 8px;

  position: relative;

  /*
  & ul > :nth-child(1) {
    anchor-name: --link-1;
  }
  & ul > :nth-child(2) {
    anchor-name: --link-2;
  }
  & ul > :nth-child(3) {
    anchor-name: --link-3;
  }
  & ul > :nth-child(4) {
    anchor-name: --link-4;
  }

  &:has(ul > :nth-child(1):hover)::after {
    position-anchor: --link-1;
  }

  &:has(ul > :nth-child(2):hover)::after {
    position-anchor: --link-2;
  }

  &:has(ul > :nth-child(3):hover)::after {
    position-anchor: --link-3;
  }

  &:has(ul > :nth-child(4):hover)::after {
    position-anchor: --link-4;
  }
  */

  li:hover {
    anchor-name: --hovered-link;
  }

  &::after {
    content: '';
    position: absolute;
    /*inset: 0;*/
    /*inset: auto 0 0; !* move the bar to the bottom *!*/

    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);

    height: 10px;
    background: steelblue;

    /*    transition: position-anchor 10000ms; !* takes longer to transit but it will just jump at the 50% mark rather than smooth transition *!
    transition-behavior: allow-discrete; !* position-anchor is discrete transition *!*/

    position-anchor: --hovered-link;
    /* !!!! since your position-anchor always on the same name, now you can have transition animation */
    transition:
      left 300ms,
      right 300ms;
  }

  /* Only chrome support this atm */
  @supports (corner-shape: squircle) {
    border-radius: 24px;
    corner-shape: squircle;
    /*corner-shape: scoop;*/
  }

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
  }
}
